.product{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 70px;
   box-shadow: 0px 2px 5px #d4dfe0;
   padding-left: 15px;
}
.product img{
    width: 60%;
    margin-top: -40px;
    
}
.product-details button{
    border: none;
    background-color: #b1c9cc;
    border-radius: 5px;
}
@media screen and (max-width:576px){
    .product{
        margin-left: 20px;
        margin-bottom: 80px;
    }
}